#page {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.ant{
    position: absolute;
    height: 1vh;
    width: 0.3vh;
}

.head, .thorax, .abdomen {
    border-radius: 50%;
    background-color: black;
    height: 33%;
    width: 100%;
}

.overlay {
    position: absolute;
    cursor: pointer;
}


.min-vh-100 {
  min-height: 100vh;
}

.is-flex-grow-1 {
  flex-grow: 1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
