.ant{
    position: absolute;
    height: 1vh;
    width: 0.3vh;
}

.head, .thorax, .abdomen {
    border-radius: 50%;
    background-color: black;
    height: 33%;
    width: 100%;
}

.overlay {
    position: absolute;
    cursor: pointer;
}

.modal-card.card {
    width: 400px; /* Set card width */
    height: 600px; /* Set card height */
    border-radius: 3%;
    overflow: auto; /* Ensure scrolling for content overflow */
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
